:root {
  --project-details-deco-inner: #1d202b;
  --project-details-deco-outer: #b8def150;
  --main-bg-color: rgb(54, 165, 42);
}

.separator {
  width: 95%;
  height: 1rem;
  background: #1f94cf00;
  border-top: 0.1rem solid #0a9ae7;
  margin-top: 1rem;
  align-self: center;
}

img {
  border-radius: 0.5rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  border-radius: 0.5rem;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  backdrop-filter: blur(0.3rem);
  /* border: .1rem solid #0a9ae7;
  border-top: .25rem solid #0a9ae7;
  border-radius: .25rem; */
}

.project-pink-decoration-holder {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-items: center;
}

.project-pink-decoration {
  /* background: radial-gradient( #461882, #0b1317 50%); */
  /* background: radial-gradient(
    rgb(215, 65, 163),
    rgba(222, 85, 165, 0.187),
    rgba(222, 85, 165, 0)
  ); */
  background: linear-gradient(
    to bottom,
    transparent,
    #d741a200 0%,
    #d741a2 10%,
    #d741a2ad 40%,
    #d741a257 60%,
    #d741a300 90%
  );
  flex: 10;
  filter: blur(0.1rem);
  width: 50%;
}

.project-pink-decoration-side-left {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    #d741a200 0%,
    /* #d741a262 10%, */ #d741a2 10%,
    #d741a2ad 40%,
    #d741a257 60%,
    #d741a300 90%
  );
  flex: 1;
  filter: blur(0.3rem);
}

.project-pink-decoration-side-right {
  height: 100%;
  background: linear-gradient(
    to bottom,
    #d741a200 0%,
    #d741a262 10%,
    #d741a2 25%,
    #d741a2ad 40%,
    #d741a257 60%,
    #d741a300 90%
  );
  flex: 1;
  filter: blur(0.3rem);
}

.project-pink-decoration-inner {
  width: 100%;
  height: 1rem;
  /* background: linear-gradient(
    to bottom,
    transparent,
    #d741a300 0%,
    #d741a388 15%,
    #d741a3f3 35%,
    #d741a3 50%,
    #d741a3f3 65%,
    #d741a388 85%,
    #d741a300 100%
  );  */
}

.project-holder-decoration {
  /* background: radial-gradient( #461882, #0b1317 50%);
  background-size: 200%;
  background-position: center;
  animation: linkColorChange 5s infinite alternate;
  border-radius: .5rem; */
  /* border-top: 0.1rem solid #0a9ae7; */
  /* border-bottom: 0.1rem solid #0a9ae7; */
  /* border-radius: 0.5rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-holder-decoration-2 {
  /* background-image: url(/assets/images/circle_FILL.svg);
  background-repeat: space;
  background-size: 1%;
  background-position: center;
  overflow: hidden; */
  border-radius: 0.5rem;
}

/* @media (max-width: 800px) {
  .project-holder-decoration-2 {
    background-size: 5%;
  }
} */

.project-details-holder {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  /* background-image: url(/assets/images/circle_FILL.svg);
  background-repeat: space;
  background-size: 50px;
  background-position: center;
  overflow: hidden; */
  z-index: 2;
}

@media (max-width: 1300px) {
  .project-details-holder {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.project-info-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #1d202b;
  position: relative;
  top: 0rem;
  right: 1.5rem;
  width: 100%;
}

.project-info-holder-decoration {
  background-color: #b8def150;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  height: fit-content;
  max-width: 500px;
  justify-self: center;
  align-self: center;
  width: fit-content;
}

.project-details-name {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #1d202b;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  /* border: 0.2rem solid white; */
}

.project-details-name-deco {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  width: calc(100% - 50%);
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #b8def150;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 4rem;
  z-index: 2;
}

.project-details-description {
  text-align: left;
  align-self: center;
  font-size: 1.2rem;
}

.project-tools-holder-deco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  justify-self: center;
  background-color: #b8def150;
  border-radius: 0.5rem;
  position: relative;
  width: fit-content;
  height: max-content;
  padding-right: 1rem;
}

.project-tools-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #1d202b;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  position: relative;
  top: 1rem;
  right: 0.5rem;
  width: fit-content;
  height: max-content;
}

.project-details-tool-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.project-details-tools-holder {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-items: center;
  justify-content: center;
}

.project-details-tool {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.project-details-tool-name {
  font-weight: bold;
}

.project-details-logo {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  display: grid;
  align-items: center;
  max-width: 5rem;
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.tryit-link-deco {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
  padding: 0.5rem;
  /* padding-left: 1rem; */
  padding-right: 0rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: fit-content;
  align-self: center;
  position: relative;
  margin-bottom: 1rem;
  justify-self: center;
  z-index: 2;
}

.tryit-link {
  /* background-image: linear-gradient(
    45deg,
    rgb(208, 19, 19),
    rgb(206, 149, 17),
    rgb(13, 113, 200)
  ); */
  padding: 1rem;
  border: 0.2rem solid #ffffff;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: fit-content;
  align-self: center;
  background-size: 500%;
  background-color: #0a58d6;
  position: relative;
  top: 1rem;
  /* right: 1.5rem; */
  /* animation: linkColorChange 3s infinite alternate; */
  transition: transform 0.25s;
}

.tryit-link:hover {
  /* animation: buttonPulse 0.5s ease-in-out infinite alternate,
    linkColorChange 3s infinite alternate; */
  /* background-color: white; */
  color: #ffffff;
  background-color: #0b1317;
  /* border-color: #000000; */
}

.tryit-link:active {
  transform: scale(0.95);
}

@keyframes linkColorChange {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* @keyframes buttonPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

.images-box-decoration-container {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  display: inline;
}

.images-box-decoration {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.2rem solid gray;
  border-radius: 0.25rem;
  display: inline-block;
  z-index: 1;
}

/* clock wise starting from top left */
.box-1 {
  top: 20%;
  left: 3%;
}

.box-2 {
  top: 13%;
  left: 6%;
}

.box-3 {
  top: 18%;
  left: 29%;
}

.box-4 {
  top: 21%;
  left: 45%;
}

.box-5 {
  top: 48%;
  left: 47%;
}

.box-6 {
  top: 57%;
  left: 43%;
}

.box-7 {
  top: 80%;
  left: 40%;
}

.box-8 {
  top: 77%;
  left: 9%;
}

.box-9 {
  top: 57%;
  left: 5%;
}

.box-10 {
  top: 55%;
  left: -3%;
}

.quad-box-decoration-container {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  display: inline;
  z-index: 1;
}

.quad-box-decoration {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  padding: 2rem;
  background: radial-gradient(#461882, #0b1317 80%);
}

.quad-box-1 {
  top: 80%;
  left: 80%;
}

.quad-box-2 {
  top: 0%;
  left: 30%;
}

.quad-box-3 {
  top: 30%;
  left: 40%;
}

.quad {
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid rgb(190, 139, 147);
  border-radius: 0.25rem;
}

.project-images-slider-container {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  padding-top: 1rem;
  background-color: #0b1317;
  position: relative;
}

.project-images-left {
  grid-column: 1;
  grid-row: 1;
  font-size: 4rem;
  cursor: pointer;
  background: linear-gradient(to right, transparent, #3c6e87 0%, #0b1317 100%);
  border-radius: 0.5rem;
  height: 100%;
}

.project-images-right {
  grid-column: 2;
  grid-row: 1;
  font-size: 4rem;
  cursor: pointer;
  background: linear-gradient(to left, transparent, #3c6e87 0%, #0b1317 100%);
  border-radius: 0.5rem;
  height: 100%;
}

.project-images-holder {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
}

.project-details-image {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  align-self: center;
  cursor: zoom-in;
  transition: width 0s;
  z-index: 2;
}

.project-details-image-2 {
  width: 80%;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  align-self: flex-end;
  justify-self: start;
  cursor: zoom-in;
  transition: width 0s;
}

.project-details-image-3 {
  width: 70%;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  align-self: flex-start;
  justify-self: start;
  cursor: zoom-in;
  transition: width 0s;
}

.project-details-image-4 {
  width: 60%;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  align-self: flex-start;
  justify-self: end;
  cursor: zoom-in;
  transition: width 0s;
}

.project-details-image-zoom-in {
  /* cursor: zoom-out;
  transform: scale(1.75);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: width 0.25s;
  z-index: 20; */
}

#zoom-view {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* padding: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem; */
  visibility: hidden;
  border-radius: 0.5rem;
  backdrop-filter: blur(0.1rem);
  scale: 20%;
  opacity: 0;
  transition: scale 0.3s, opacity 0.3s;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr 2fr;
  gap: 1rem;
}

.zoom-view-go-exit {
  grid-row: 1 / 1;
  font-size: 3.5rem;
  color: #0a9ae7;
  background-color: #0029bc30;
}

.zoom-view-go-exit:hover {
  color: #d741a2;
  background-color: #7e101030;
}

.zoom-view-images-container {
  grid-row: 2 / 2;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  max-width: 85%;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.zoom-view-image {
  width: 100%;
  height: fit-content;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: zoom-out;

  grid-column: 2 / 3;
}

.zoom-view-go {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  border-radius: .5rem;
  font-weight: 900;
  color: #0a9ae7;
  background-color: rgba(0, 0, 0, 0.7);
}

.zoom-view-go:active {
  transform: scale(.98);
}

.zoom-view-go-left {
  grid-column: 1 / 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 100%;
  cursor: pointer;
}

.zoom-view-go-left:hover {
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0) 0%,black 100%);
  color: #d741a2;

}

.zoom-view-go-right {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 100%;
  cursor: pointer;
}

.zoom-view-go-right:hover {
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0) 0%,black 100%);
  color: #d741a2;
}

.zoom-view-list {
  grid-row: 3 / 3;
  display: flex;
  justify-content: center;
  width: 50%;
  justify-self: center;
  align-self: center;
  height: 15vh;
  gap: 1rem;
  padding: 0.2rem;
  border: 0.25rem solid #0a9ae7;
  width: fit-content;
  border-radius: .25rem;
}

.selected-image-zoom {
  border: .2rem solid #cd2b2b;
  border-radius: .25rem;
}

.zoom-view-list-image {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .project-holder {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .project-details-name-deco {
    grid-column: 1;
    grid-row: 1;
  }
  .project-details-holder {
    grid-row: 2;
    grid-column: 1;
  }
  .project-images-slider-container {
    grid-column: 1;
    grid-row: 3;
  }
  .tryit-link-deco {
    grid-column: 1;
    grid-row: 4;
  }
  .zoom-view-images-container {
    max-width: 95%;
  }
  .zoom-view-list {
    width: 100%;
    overflow-x: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .zoom-view-list::-webkit-scrollbar {
    height: 0.2rem;
  }
}

@media (max-width: 800px) {
  .project-details-name {
  }
  .project-details-name-deco {
    width: max-content;
  }
  .project-info-holder {
    right: 1.5rem;
  }
  .project-images-slider-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 1rem;
  }
  .project-images-holder {
    flex-direction: column;
  }
  .project-details-image {
    width: 100%;
  }
  /* .project-images-right {
    grid-row: 3;
  }
  .project-images-left {
    grid-row: 3;
  } */
  .project-info-holder-decoration {
    max-width: 100%;
  }
  .project-tools-holder {
    max-width: 100%;
  }
  .project-holder-decoration-2 {
    background-position: center;
  }
}
