.separator {
  width: 50%;
  height: 1rem;
  background: #1f94cf00;
  border-top: 0.5rem dotted #0a9ae7;
  margin-top: 1rem;
  align-self: center;
}

img {
  border-radius: 0.5rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 0.1rem solid #0a9ae7;
  border-bottom: 0.1rem solid #0a9ae7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.project-details-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.project-info-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.project-details-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.project-details-description {
  text-align: left;
  align-self: center;
}

.project-tools-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.project-details-tool-header {
  font-weight: bold;
  font-size: 1rem;
}

.project-details-tools-holder {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-items: center;
  justify-content: center;
}

.project-details-tool {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.project-details-tool-name {
  font-weight: bold;
}

.project-details-logo {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  display: grid;
  align-items: center;
  max-width: 5rem;
  background-color: rgb(58, 89, 126);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.tryit-link {
  background-image: linear-gradient(
    45deg,
    rgb(208, 19, 19),
    rgb(206, 149, 17),
    rgb(13, 113, 200)
  );
  padding: 0.5rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: fit-content;
  align-self: center;
  background-size: 500%;
  background-color: #0a9ae7;
  animation: linkColorChange 3s infinite alternate;
  transition: transform .25s;
}

.tryit-link:hover {
  animation: buttonPulse 0.5s ease-in-out infinite alternate,
    linkColorChange 3s infinite alternate;
}

.tryit-link:active {
  transform: scale(0.95);
}

@keyframes linkColorChange {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes buttonPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.project-images-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.project-details-image {
  width: 50em;
  align-self: center;
  cursor: zoom-in;
  transition: transform 0.5s;
}

.project-details-image-zoom-in {
  cursor: zoom-out;
  transform: scale(1.75);
}
